/* footer */

.footer {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--clr-grey);
}

.footer__nav {
  display: flex;
}

.footer__nav--text {
  position: relative;
  margin: 0 18px 0 0;
}

.footer__nav--text:not(:last-child)::after {
  content: "";
  width: 2px;
  height: 100%;
  background: var(--clr-grey);
  position: absolute;
  right: -10px;
  top: 0;
}

.footer__copyright {
  color: var(--clr-grey);
  margin-top: 8px;
}

/* address */
.address__list {
  display: flex;
  align-items: center;
}

.adress__list--social:not(:last-child) {
  margin-right: 15px;
}

.adress__icon {
  width: 32px;
  height: 33px;
}

.address__list--twitter {
  background: url("../../img/twiiter.svg") no-repeat;
}

.address__list--facebook {
  background: url("../../img/fb.svg") no-repeat;
  width: 17px;
  height: 33px;
}

.address__list--links {
  background: url("../../img/links.svg") no-repeat;
}

/* mobile */
.footer {
  margin: 0 10px;
}

.footer__nav--text {
  margin: 0 25px 0 0;
}

.footer__link {
  font-size: 8px;
  font-weight: bold;
}

.footer__copyright {
  font-size: 12px;
}

.adress__icon,
.address__list--facebook {
  background-size: 70%;
}
