/* RIGTH BANNER */

.main-wrapper {
  margin-bottom: 32px;
}

.wrapper--banner {
  position: relative;
}

.banner__description {
  position: absolute;
  bottom: 16%;
}

.banner__text {
  letter-spacing: 0.01em;
  padding: 14px 24px 14px 21px;
  font-style: italic;
  font-size: 22px;
  line-height: 14px;
}

.banner__title {
  display: inline-flex;
  background: var(--clr-white);
}

.banner__sub {
  background: var(--clr-black);
  color: var(--clr-white);
  font-size: 14px;
}

/* TABS */

.wrapper-tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tabs__list {
  background: var(--clr-sky);
  margin-right: 2px;
  padding: 24px 0 24px 20px;
  flex-grow: 1;
}

.tabs__list:nth-child(n + 3) {
  margin-right: 0;
}

.tabs__list:hover {
  background: var(--clr-sky-dark);
  transition: var(--transition);
}

.list--item {
  font-size: 18px;
  line-height: 20px;
}

.item-text {
  font-size: 10px;
  line-height: 19px;
  font-style: italic;
}

/* form */



