.footer {
  padding-top: $paddingTop + 20;
  padding-bottom: $paddingBottom + 20;
  @include flexBetween;
  border-top: 2px solid $grey;

  @include response(tabland) {
    margin: 0 30px;
  }

  &__nav {
    display: flex;

    &--text {
      position: relative;
      margin-right: $marginRight + 8;

      &:not(:last-child)::after {
        content: "";
        width: 2px;
        height: 100%;
        background: $grey;
        position: absolute;
        right: -10px;
        top: 0;
      }
    }
  }

  &__copyright {
    color: $grey;
    margin-top: 8px;
  }
}

/* address */
.address__list {
  @include flex;

  &--social:not(:last-child) {
    margin-right: 15px;
  }

  &--fb {
    width: 17px;
    height: 33px;
  }
}

.address__list--facebook,
.adress__icon {
  @include response(tabland) {
    background-size: 80%;
  }
}

.adress__icon {
  width: 32px;
  height: 33px;
}

//через цикл
$pic_icons : (address__list--twitter, address__list--facebook, address__list--links);

@each $icons in $pic_icons {
  .icon-#{$icons} {
    background-image: url("../../img/svg/#{$icons}.svg");
    background-repeat: no-repeat;
  }
}