.section--form {
  padding: $padding + 10;
  @include borderDashed;

  @include response(phone) {
    margin-bottom: $marginBottom + 15;
  }
}

.form {
  @include flexAround;

  &--subscribe {
    @include flexBetween;
  }

  @include response(tablate) {
    flex-direction: column;
  }
}

.text__sub {
  position: relative;
  line-height: 16px;
  font-style: italic;

  &::before {
    content: "";
    background: url("../../img/msg.svg") center;
    width: 32px;
    height: 26px;
    position: absolute;
    top: 4px;
    left: 0;
  }

  @include response(tablate) {
    margin-bottom: $marginBottom + 10;
  }
}

.input {
  margin-right: $marginRight + 40;
  background: $white;
  border: $border;
  padding-left: $paddingLeft - 2;
  outline: $border;

  &:focus {
    background: $border;
  }

  @include response(tablate) {
    width: 100%;
    padding: 8px 0;
    padding-left: 8px;
  }
}

.btn-sub {
  background: $gradient;
  border: $border;
  box-sizing: border-box;
  border-radius: 2px;
  outline: $border;
  padding-top: $paddingTop - 2;
  padding-bottom: $paddingBottom - 2;
  cursor: pointer;
  transition: $transition;

  &:hover {
    background: $gradient--hover;
    transition: $transition;
  }

  @include response(tablate) {
    padding: 0 15px;
  }
}