html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $fontSize - 2;
  color: $black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 12px;
}

img {
  display: block;
  width: 100%;
}

a {
  color: $primary;
  text-decoration: none;
  display: block;
}

a:hover {
  color: $primary_links;
}

.visually-hidden {
  @include visuallyHidden;
}

.container__flex {
  @include flexes;
  margin-top: $marginTop + 42.8;

  @include response(desktop) {
    margin: 40px 30px 0 30px;
  }

  @include response(tabland) {
    flex-direction: column;
  }

  @include response(phone) {
    margin: 0;
  }
}

.container {
  width: 1088px;
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.aside-banner {
  max-width: 17%;
  padding-right: 1%;
}

.main {
  max-width: 83%;
}