.wrapper-tabs {
    @include flexes;
    width: 100%;

    @include response(tablate) {
        display: none;
    }
}

.tabs__list {
    background: $sky;
    margin-right: 2px;
    padding: 24px 0 24px 20px;
    flex-grow: 1;

    &:nth-child(n + 3) {
        margin-right: 0;
    }

    &:hover {
        background: $sky-dark;
        transition: $transition;
    }
}

.list--item {
    font-size: $fontSize + 2;
    line-height: 20px;
}

.item-text {
    font-size: $fontSize - 6;
    line-height: 19px;
    font-style: italic;
}