$primary: #34aca7;
$white: #fff;
$black: #000;
$grey: #e5e5e5;
$grey--hover: #e5e5e581;
$sky: #eff8f7;
$sky-dark: #d9efec;
$gradient: linear-gradient(180deg, #f4f3f3 0%, #bbb9b9 100%);
$gradient--hover: linear-gradient(180deg, #d4d1d1 0%, #ece4e4 100%);
$primary_links: #34aca69d;
$transition: all 0.75s ease;